# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Logs
*.log

# Environment files
*.env
*.env.*
venv

# Python cache (if using Python)
__pycache__/
*.pyc

# Other system files
Thumbs.db

*.json